/* Import reset */

@import "partials/_reset.scss";

/* SASS Variables
--------------------------------------------------------------- */

// Media Queries

$tablet-width   : 480px;
$desktop-width  : 800px;
$mid-width         : 1000px;
$large-width    : 1200px;
$full-width     : 1600px;

@mixin bp480 {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin bp800 {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin bp1000 {
  @media (min-width: #{$mid-width}) {
    @content;
  }
}

@mixin bp1200 {
  @media (min-width: #{$large-width}) {
    @content;
  }
}

@mixin bp1600 {
  @media (min-width: #{$full-width}) {
    @content;
  }
}

// Colours

$noir     : #111;
$blanc    : #fff;

$logodeepblue : #004666;
$logomidblue : #0085bd;
$sandyyellow : #f7d67c;
$fadedsandyyellow : lighten($sandyyellow,20);

$lightgrey : #f9f6f2;
$lightoffwhite : #f9f6f2;
$greyblue : #67828e;

// Typography

$primaryFont   : "proxima-nova";

/* Global
--------------------------------------------------------------- */

* { margin: 0; padding: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}

body, html { min-height: 101%; }

body {
    background: $blanc;
    color: $greyblue;
    font: 16px/1.5 $primaryFont, sans-serif;
    font-weight: 300;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

strong {
    font-weight: 700;
}

a {
    transition: all ease 0.3s;
    color: $logomidblue;
    &:hover {
        color: $logodeepblue;
    }
}

@import "partials/_mixins-functions.scss";
@import "partials/_animate.scss";

/* Typography
--------------------------------------------------------------- */

h1, h2, h3, h4, h5 {
    margin: 0;
    font-family: $primaryFont, sans-serif;
    font-weight: 700;
    line-height: 1.1em; 
    color: $logodeepblue;
}

h1 { font-size: 1.8em; }
h2 { font-size: 1.6em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1.1em; }

/* Global Containers
--------------------------------------------------------------- */

.container {
    max-width: $full-width;
    margin: 0 auto;
    clear: both;
}

/* Buttons
--------------------------------------------------------------- */

.btn {
    color: $noir;
    padding: 0.5em 0.8em;
    display: inline-block;
    text-decoration: none;    
    transition: 0.3s;

    // Define the button names & colours
    $btnColors :        noir $noir $blanc,
    sandyyellow $sandyyellow $logodeepblue,
    logodeepblue $logodeepblue $blanc,
    logomidblue $logomidblue $blanc,
                        blanc $blanc $noir;

    // Loop through colours above and create classes
    @each $colorOption in $btnColors {
        &.btn-#{nth($colorOption, 1)} {
            color: nth($colorOption,3);
            background: nth($colorOption,2);
            position: relative;
            &:after {
                content: '';
                display: block;
                position: absolute;
                left:100%;
                top: 0;
                width: 0;
                height: 0;
                border-top: 41px solid nth($colorOption,2);
                border-right: 20px solid transparent;
                transition: 0.3s;
            }
        }
    }
    
    &:hover {
        background: darken($logodeepblue,10);
        color: $blanc;

        &:after {
            border-top-color: darken($logodeepblue,10);
        }
    }
}

/* Boxes
--------------------------------------------------------------- */

.box {
    color: $noir;
    background: $blanc;
    padding: 1.5em;
    overflow: visible;

    p {
        margin-bottom: 1em;        
    }

    p.title {
        font-weight: 700;
        font-size: 1.2em;  
    }

    p.phone {
        font-size: 1.2em;
    }

    // Define the button names & colours
    $boxColors :
    sandyyellow $sandyyellow $logodeepblue,
    fadedsandyyellow $fadedsandyyellow $logodeepblue,
    lightoffwhite $lightoffwhite $noir,
    logodeepblue $logodeepblue $blanc,
    logomidblue $logomidblue $blanc,
    blanc $blanc $noir;

    // Loop through colours above and create classes
    @each $colorOption in $boxColors {
        &.box-#{nth($colorOption, 1)} {
            background-color: nth($colorOption,2);
            color: nth($colorOption,3);
        }
    }

    &--registration{
        padding-top: 2.5em;
        overflow: visible!important; 
    }
    &--no-pad{
        padding: 0em;
    }
}
/* Registration Plugin
--------------------------------------------------------------- */
.rmtab-payment-details{
    display: none !important;
}

.bg-white{
    background: $blanc;
}

.rmagic .rm-user-name{
    font-size: 1.5em !important;
}

.rmagic .rm-user-card img{
    display: none !important;
}

.rmagic .rm-user-card .rm-user-name{
    padding: 30px 0px 0px 0px !important;
}
.rm-user-name-subtitle{
    padding: 20px 0px 0px 0px !important;
}
/* General
--------------------------------------------------------------- */

.box-padding {
 //   padding: 1em;
}

.flexbox800 {
    @include bp800 {
        @include flexbox();
        @include flex-wrap(wrap);
    }
}

.centre-content {
    margin: auto 0;
}


/* Phone & Navigation Icon Top
--------------------------------------------------------------- */

$phonenavheight: 40px;
$desktopnavheight: 50px;

.phone-nav-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $phonenavheight;
    background: #eee; 
    z-index: 3000;   
    
    &:after {
        clear: both;
        content: '';
        display: block;
    }

    .stickyheader-left {
        float: left;
        background: $logomidblue;
        color: $sandyyellow;
        font-weight: 700;
        width: 60%;
        a {
            color: $sandyyellow;
        }
    }

    .stickyheader-right {
        float: right;
        width: 40%;
        .btn {
            width: 100%;
        }
    }

    .stickyheader-btn {
        display: inline-block;
        text-decoration: none;
        padding: 0.5em;
        text-align: center;
        &.menu-btn {
            background: $logodeepblue;
            color: $blanc;
        }
    }
    
    @include bp1200 {
        display: none;
    }
}

li.social-nav-item {
    padding: 10px;
    background-color: lighten($greyblue,5%); 
    margin-top: 10px;

    @include bp800 {
        float: left;
    }

    a {
        &:after {
            display: none;
        }
    }
}

/* Components
--------------------------------------------------------------- */

.notification-bar {
    display: flex;
    align-items: center;
    clear: both;
    bottom: 0;
    background: $logomidblue;
    color: $blanc;
    text-align: center;
    padding: 8px;
    height: $phonenavheight - 37; 

    @include bp1200 {
        min-height: auto;
        display: block;
        height: auto;
    }

    .container {
        display: flex;
        justify-content: center;
    }
}

/* Site Header
--------------------------------------------------------------- */

.sticky-bar {
    display: none;
    @include bp1200 {
        display: block;
        position: fixed;
        top: 0;
        z-index: 100;
        left: 0;
        width: 100%;
        background: $logodeepblue;
        z-index: 3000;
    }

    nav[role="top-navigation"] {
        display: inline-block;
        float: right;
        ul {
            list-style: none;
            display: inline-block;
            li {
                display: inline-block;
                position: relative;
                
                &.menu-item-has-children > a:after {
                    content: "\f107";
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    margin-left: -8px;
                    font: 1em/1 FontAwesome;
                    color: $blanc;
                }
                .current-menu-item a,
                .current-menu-parent a {
                    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7d67c+0,ffffff+100&0.21+0,0+98 */
                    background: -moz-linear-gradient(top,  rgba(247,214,124,0.21) 0%, rgba(255,254,252,0) 98%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(top,  rgba(247,214,124,0.21) 0%,rgba(255,254,252,0) 98%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to bottom,  rgba(247,214,124,0.21) 0%,rgba(255,254,252,0) 98%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36f7d67c', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

                }

                a {
                    display: inline-block;
                    color: $blanc;
                    padding: 0.65em;
                    text-decoration: none;
                    border-bottom: 2px solid $logodeepblue;
                    &:hover {
                        border-color: $sandyyellow;
                    }
                }

                .sub-menu {
                    display: none;
                }

                .sub-menu {
                    position: absolute;
                    background: none;
                    top: 100%;
                    left: 0;
                    z-index: 100;
                    opacity: 0;
                    visibility: hidden;
                    width: 490px;
                    -webkit-transition: .3s;
                    transition: .3s;
                    padding: 0px;
                    z-index: 2000;

                    @include bp1200 {
                        width: 350px;
                    }

                    li {
                        width: 100%;
                        float: left;
                    }

                    .current-menu-item > a {
                        color: $blanc;
                        background: $logomidblue;
                    }

                    a {
                        display: block;
                        height: 100%;
                        border-bottom: 1px solid rgba(255,255,255,.1);
                        color: $blanc;
                        font-size: 1em;
                        padding: 20px;
                        background: $logodeepblue;

                        &:hover {
                            color: lighten($logodeepblue,50%);
                            cursor: pointer;
                        }
                    }

                    &:hover {
                        display: flex;
                        flex-wrap: wrap;
                        align-items: stretch;
                        opacity: 1;
                        visibility: visible;
                    }

                }

                a:hover + .sub-menu {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: stretch;
                    opacity: 1;
                    visibility: visible;
                }
            }
            .menu-item-851,.menu-item-861,.menu-item-849{
                background: darken($logodeepblue,15);
                margin-right: -4px;
            }
            .current-menu-item a,
            .current-menu-parent a {
                color: $sandyyellow;

                &:hover {
                    color: $sandyyellow;
                }
            }
        }
    }

    .phone-top-right {
        float: right;
        display: inline-block;
        padding: 0.5em;
        background: $sandyyellow;
        color: $logodeepblue;
        font-size: 1.2em;
        a {
            color: $logodeepblue;
        }
    }
}

header[role="banner"] {
    background: $blanc;

    &:before {
        /* Pseudo element to push content down */
        content: '';
        height: $phonenavheight;
        display: block;

        @include bp1200 {
            height: $desktopnavheight;
        }
        
    }

    &:after {
        /* Pseudo element to push content down */
        content: '';
        clear: both;
        display: block;
    }

    img.logo {
        display: block;
        width: 100%;
        max-width: 350px;
        transition: all ease 0.3s;
        margin: 0 auto;
        padding: 1em 0.5em;

        &:hover {
            opacity: 0.8;
        }
    }

    @include bp1200 {
        .logo-wrapper {
            float: left;
            width: 20%;
        }
        img.logo {
            margin: 0;
        }
    }

    .phone-top-right {
        display: none;

        @include bp800 {
            float: right;
            display: block;
        }
    }

}

/* Site Navigation
--------------------------------------------------------------- */

@import "partials/_mmenu.scss";

// Removes FOUC on desktop
#mmenu:not( .mm-menu ) {
   display: none;
}

@media only screen and (max-width: $large-width) {
    ul.mobile-navigation li.current-menu-item a,
    ul.mobile-navigation li.current-menu-parent a,
    ul.sub-menu li.current-menu-item {
        background: $sandyyellow;
        color: $logodeepblue;
    }
}

/* Desktop Navigation */

nav[role="navigation"] {
    display: none;

    @include bp1200 {
        display: inline-block;
        text-align: right;
        float: right;
        width: 80%;
        font-size: 0.9em;

        li {
            display: inline;
            position: relative;
            text-align: left;

            &.menu-item-has-children > a:after {
                content: "\f107";
                position: absolute;
                bottom: -15px;
                left: 50%;
                margin-left: -8px;
                font: 1em/1 FontAwesome;
            }
            &#menu-item-424 {
                .sub-menu {
                    right: 0;
                    left: initial;
                }
            }
        }

        .current-menu-item a,
        .current-menu-parent a {
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7d67c+0,ffffff+100&0.21+0,0+98 */
            background: -moz-linear-gradient(top,  rgba(247,214,124,0.21) 0%, rgba(255,254,252,0) 98%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top,  rgba(247,214,124,0.21) 0%,rgba(255,254,252,0) 98%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom,  rgba(247,214,124,0.21) 0%,rgba(255,254,252,0) 98%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36f7d67c', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

        }

        a {
            display: inline-block;
            text-decoration: none;
            color: $logodeepblue;
            padding: 40px 13px;
            border-bottom: 2px solid transparent;

            &:hover {
                border-color: $logodeepblue;
            }

            span {
                display: block;
            }

        }

    }

    .sub-menu {
        display: none;
    }

    .sub-menu {
        position: absolute;
        background: none;
        top: 100%;
        left: 0;
        z-index: 100;
        opacity: 0;
        visibility: hidden;
        width: 490px;
        -webkit-transition: .3s;
        transition: .3s;
        padding: 0px;
        z-index: 2000;

        @include bp1200 {
            width: 550px;
        }

        li {
            width: 50%;
            float: left;
        }

        .current-menu-item > a {
            color: $blanc;
            background: $logomidblue;
        }

        a {
            display: block;
            height: 100%;
            border-bottom: 1px solid rgba(255,255,255,.1);
            color: $blanc;
            font-size: 1em;
            background: $logodeepblue;

            &:hover {
                color: lighten($logodeepblue,50%);
                cursor: pointer;
            }
        }

        &:hover {
            display: flex;
            flex-wrap: wrap;
            align-items: stretch;
            opacity: 1;
            visibility: visible;
        }

    }

    a:hover + .sub-menu {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        opacity: 1;
        visibility: visible;
    }

}

/* Hero
--------------------------------------------------------------- */
.hero-outer {
    position: relative;

    &:before {
        content:"";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: $logomidblue;
        opacity: 0.6;
    }
}


.hero-content {
    z-index: 500;
}

.hero {
    text-align: left;
    background-size: cover;
    background-position: center center;

    .container {
        display: flex;
        align-items: center;
    }
    
    .hero-content {
        color: $blanc;
        padding: 6em 1em;
        max-width: 700px;

        p.primary {
            font-size: 2.6em;
            line-height: 1em;
            font-weight: 700;

            @include bp800 {
                font-size: 3.3em;
                line-height: 1em;
            }
        }

        p.secondary {
            font-size: 1.2em;
            line-height: 1.4em;
            padding: 20px 0px;

            @include bp800 {
                font-size: 1.3em;
                line-height: 1.5em;
                padding: 20px 0px;
            }
        }

        a.btn.btn-corona {
            display: block;
            max-width: 320px;
            margin-top: 10px;
        }
    }
}

.hero.hero.no-bg {
    background-position: -100 right;

    h1 {
        font-size: 2.6em;
        line-height: 1em;
        font-weight: 700;
        color: $blanc;

        @include bp800 {
            font-size: 3.3em;
            line-height: 1em;
        }
    }
}

.hero.hero.no-bg {
    background-color: $logodeepblue;
    background-image: none;
}

.hero {
    background-image: url(../_static/images/index-small-new.jpg);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
    background-color: #67828e;

    @include bp480 {
        background-image: url(../_static/images/index-medium-new.jpg);
    }
    @include bp1200 {
        background-image: url(../_static/images/index-large-new.jpg);
    }
    @include bp1600 {
        background-image: url(../_static/images/index-x-large-new.jpg);
        background-size: auto;
        background-color: #8cc9e1;
    }
}

.hero-home {
    .hero-outer {
        &:before {
            display: none;
        }
    }
    .hero-content {
        color: $blanc; 
        padding: 3em 1em 20em 1em;

        @include bp800 {
            padding: 6em 1em;
        }
    }
}

.hero-case-study-archive {
    .hero-container {
        display: none; 
    }
}

.hero-singular {
    padding: 5em 0;

    .hero-content {
        text-align: center;
        padding: 2em 1em;

        p {
            padding: 0px 0px 10px 0px;
        }
    }
}

.hero-case-study {
    margin: 0;

    .hero-content {
        background: rgba(255,255,255,0.8);
        color: #0085bd;
        max-width: 500px;
        font-size: 1.4em;
        margin: 0 auto;

        img {
            width: 100%;
            max-width: 300px;
            max-height: 140px;
        }
    }
}

/* Hero USPs
--------------------------------------------------------------- */

.hero-usps {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding: 20px 0px 0px 0px;

    @include bp800 {
        flex-wrap: nowrap;
        justify-content: center;
    }

    li {
        display: flex;
        align-items: left;
        padding: 0.8em 1.5em;
        font-size: 1.2em;

        @include bp800 {
            align-items: center;
        }

        img {
            width: 30px;
            height: 30px;
            margin-right: 10px!important; 
        }

        span {
            color: $blanc;
        }
    }
}

.page-template-page-home {
    .hero-usps {
        padding: 0px 0px 20px 0px;
        li {
            span {
                color: $logodeepblue;
                font-weight: 700;
            }
        }
    }
}


/* Buckets
--------------------------------------------------------------- */

.buckets {

    .container {
        padding: 0;
        @include flexbox;
        @include flex-wrap(wrap);
    }

    li {
        display: block;
        float: left;
        background-size: cover;
        background-position: center;
        @include flexbox;
        @include flex-wrap(wrap);
        text-align: center;
        @include bp480 {
            @include flex-grow(1);
        }
    }

    li:nth-of-type(even) a {
        background: $logomidblue;
    }

    @include bp480 {
        li {
            border: 1px solid $logomidblue;

        }
        li:nth-of-type(even) a {
            background: $logodeepblue;
        }
    }

    @include bp800 {
        li {
            border: none;

        }
        li:nth-of-type(even) a {
            background: $logomidblue;
        }
    }

    a {
        display: block;
        text-decoration: none;
        color: #fff;
        padding: 1em;
        background: $logodeepblue;
        width: 100%;
        @include bp800 {
            @include flexbox();
            @include flex-wrap(wrap);
            @include flex-direction(column);
            @include align-items(center);
            @include justify-content(space-between);
            @include flex-grow(1);
        }
    }

    li:nth-of-type(even) a:hover, a:hover {
        background: darken($logodeepblue,10);
        @include bp800 {
            img {
                -webkit-animation-duration: 1s;
                animation-duration: 1s;
                -webkit-animation-fill-mode: both;
                animation-fill-mode: both;
                -webkit-animation-name: tada;
                animation-name: tada;
            }
        }
    }

    .title {
        display: block;
        padding: .5em;
        transition: .3s;
        font-size: 1.2em;
        font-weight: 700;
        color: $sandyyellow;
        @include bp480 {
            span {
                white-space: nowrap;
            }
        }
    }

    .desc {
        padding: 0 10px;
        width: 100%;
    }

    .btn {
        display: block;
        margin: 0 10px 10px;
    }

    &:after {
        content: '';
        display: block;
        clear: both;
    }
    img {
        display: block;
        transition: .3s;
        max-width: 70px;
        margin: 1em auto;
        @include align-self(flex-end);
    }
}

/* Separator
--------------------------------------------------------------- */

div.separator {
    clear: both;
    text-align: center;
    padding: 2em 0;
    img {
        display: block;
        margin: 0 auto;
        max-width: 60px;
    }
    &.page-icon {
        background: $logomidblue;
        padding: 1em 0;
    }
}

.independent-image {
    background-size: cover;
    background-position: center center;
    min-height: 220px;
}

.why-choose-us {
    p.title {
        color: $sandyyellow;
        font-size: 1.4em;
    }
    ul {
        list-style: none;
        li {
            margin: 0px 0px 20px 0px;
        }
    }
}

.free-quotation-advice {
    background: $sandyyellow;
    color: $logodeepblue;

    p.title {
        font-size: 1.4em;
    }
}

.map {
    background-image: url(../_static/images/map-mobile.jpg);
    background-position: -100px bottom;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: right;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
    padding-top: 3em;
    padding-bottom: 3em;

    @include bp480 {
        background-position: left bottom;
        background-image: url(../_static/images/map.jpg);
    }


    p {
        width: 100%;

        &.title {
            margin-bottom: 0.5em;
        }

        &.phone {
            color: $sandyyellow;
        }
    }

    ul {
        list-style: none;
        margin-bottom: 0.5em;

        li {
            padding: 2px 0;
        }

        img {
            max-width: 10px;
            line-height: 1em;
            height: auto;
            margin-right: 5px;
        }
    }
    p.title {
        color: $blanc;
    }

    a {
        color: $sandyyellow;
    }
}

.video-cta-container {
    display: flex;
    align-items: center;
}

.video-cta {
    background-color: #004666;
    height: 100%;
}

.get-in-touch {
    text-shadow: 1px 1px 1px $logodeepblue;
    @include bp480 {
        padding-top: 4em;
        padding-bottom: 4em;
        background-image: url(../_static/images/get-in-touch-cta.jpg);
        background-size: cover;
        background-position: right center;
        background-repeat: no-repeat;
        @include flexbox();
        .content {
            max-width: 50%;
            margin: auto 0;
        }
    }
    .phone {
        color: $sandyyellow;
        a {
        color: $sandyyellow;

        }
    }
}

/* Site Content
--------------------------------------------------------------- */

div[role="main"] {

    p {
        margin: 1em 0;
    }

    blockquote {
        position: relative;
        padding: 1em 2.65em;
        text-align: center;

        &:before,
        &:after {
            position: absolute;
            z-index: -1;
            font-family: FontAwesome;
            font-size: 2em;
            opacity: .25;
        }

        &:before {
            top: 20px;
            left: 20px;
            content: '\f10d';
        }

        &:after {
            bottom: 0;
            right: 0;
            content: '\f10e';
        }
    }
}

/* Article
--------------------------------------------------------------- */

.resource-centre {
    
    @include bp800 {
        display: flex;
        flex-wrap: wrap;
    }

    article {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        background: #eee;
        margin: 1em 0;
        border-radius: 10px;
        padding: 20px;

        @include bp800 {
            width: 45%;
            margin: 1em 10px;
        }

        p.title {
            width: 100%;
            text-align: center;
            font-size: 1.8em;
            margin: 0 0 10px 0;
            line-height: 1.1em;

            a {
                text-decoration: none;
            }
        }

        span {
            display: block;
            text-align: center;
        }

        .resource-centre-image {
            width: 100%;
            display: flex !important;
            justify-content: center;
            margin-bottom: 10px;

            img {
                border-radius: 90px;
                border: 5px solid $logomidblue;
                width: 110px;
                height: 110px;

            }
        }
    }
}

article {

    ul {
        list-style: none;
        margin: 1em 0;
    }

    > ul li{
        &:before {
            display: inline-block;
            padding-right: .5em;
            font-family: FontAwesome;
            content: url(../_static/images/logo-icon.svg);
            width: 20px;
            height: 20px;
        } 
        padding: 0px 0px 20px 0px;   

        a {
            color: $logodeepblue;
        }
    }

    .list li{
        &:before {
            display: inline-block;
            padding-right: .5em;
            font-family: FontAwesome;
            content: url(../_static/images/logo-icon.svg);
            width: 20px;
            height: 20px;
        }
    }

    h1 + p {
        font-size: 1.2em;
        font-weight: 700;
    }

    p {
        line-height: 1.6em;
        font-size: 1.1em;

        a {
            color: $logodeepblue;

            &:hover {
                color: lighten($logodeepblue,15%);
            }
        }
    }

    img {
        display: block;
        max-width: 100%;

        @include bp480 {
            &.left {
                float: left;
                margin: .5em .5em .5em 0;
            }

            &.center {
                clear: both;
                margin: 0 auto;
            }

            &.right {
                float: right;
                margin: .5em 0 .5em .5em;
            }
        }
    }
}

/* Sectors Covered CTA
----------------------------------------------------------------*/

.sectors-covered-cta {
    position: relative;
    padding: 120px 1em 0em 1em;

    @include flexbox();
    @include flex-wrap(wrap);
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(flex-start);

    &:before {
        width: 100%;
        height: 100px;
        content: '';
        z-index: -1;
        display: block;
        position: absolute;
        top: 0; left: 0;
        background-position: right center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    @include bp800 {
        width: 50%;
        @include flex-grow(1);
        p {
            max-width: 500px;
        }
    }

    @include bp1200 {
        border-left: 3px solid $lightgrey;
        background: rgba($blanc,0.7);
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+34,0+100 */
        background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 34%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 34%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 34%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
        padding: 2em 25% 2em 2em;
        &:before {
            width: 100%;
            height: 100%;
            content: '';
            z-index: -1;
            display: block;
            position: absolute;
            top: 0; left: 0; right: 0; bottom: 0;
            background-position: right center;
            background-size: cover;
        }
        div.logo img {
            margin: 1em 0;
        }
    }

    h1 {
        margin-bottom: 0.5em;
    }

    p {
        margin-bottom: 0.5em;
    }

    ul {
        list-style: none;
        margin: 0.5em 0 1.5em 0;
        li {

        }
    }
}

/* Case Studies
--------------------------------------------------------------- */

.case-study-archive-wrapper {
    @include flexbox();
    @include flex-wrap(wrap);
    @include flex-grow(1);
}

.case-study-archive {
    position: relative;
    padding: 120px 1em 5em 1em;

    @include flexbox();
    @include flex-wrap(wrap);
    @include flex-direction(column);
    @include justify-content(space-between);
    @include align-items(flex-start);

    &:before {
        width: 100%;
        height: 100px;
        content: '';
        z-index: -1;
        display: block;
        position: absolute;
        top: 0; left: 0;
        background-position: right center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    div.logo img {
        max-width: 300px;
        max-height: 50px;
        height: auto;
        margin: 1em auto;
        display: block;
    }

    p {
        width: 100%;
    }

    h1 {
        a {
            text-decoration: none;
            color: $logodeepblue;
        }
    }

    @include bp800 {
        padding: 120px 1em 2em 1em;

    }

    a.btn {
        margin-top: 1em;
    }

    @include bp800 {
        width: 50%;
        @include flex-grow(1);
        p {
            max-width: 500px;
        }
    }

    @include bp1200 {
        border-left: 3px solid $lightgrey;
        background: rgba($blanc,0.7);
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+34,0+100 */
        background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 34%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 34%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 34%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
        padding: 2em 25% 2em 2em;
        &:before {
            width: 100%;
            height: 100%;
            content: '';
            z-index: -1;
            display: block;
            position: absolute;
            top: 0; left: 0; right: 0; bottom: 0;
            background-position: right center;
            background-size: cover;
        }
        div.logo img {
            margin: 1em 0;
        }
    }
}

.testimonial {
    background-image: url(../_static/images/quote-marks.png);
    background-position: 10px 20px;
    background-repeat: no-repeat;;
}

.prev-next {
    clear: both;
    padding: 1em 0;
    a {
        width: 100%;
        display: block;
        background: $logomidblue;
        text-decoration: none;
        padding: 1em;
        color: $blanc;
        &:hover {
            background: darken($logodeepblue,10)!important;
        }
    }
    .next-posts a {
        text-align: right;
        background: $logodeepblue;
    }
    @include bp800 {
        div {
            width: 50%;
        }
    }
}

/* Aside
--------------------------------------------------------------- */

aside {
    
}

/* Credit Cards
--------------------------------------------------------------- */

.credit-cards {
    ul {
        list-style: none;
        li {
            display: inline-block;
        }
    }
    img {
        width: 100%;
        max-width: 50px;
    }
}

/* Search form
--------------------------------------------------------------- */

form.search-form {
    input.search-field, button.search-submit {
        display: inline-block;
        border: none;
        padding: 10px;
        line-height: 1.3em;
    }
    input.search-field, button.search-submit {
        font-family: "FontAwesome", sans-serif;
        border: 1px solid #ccc;
    }
    button.search-submit {
        background: $noir;
        color: $blanc;
        border: none;
        border: 1px solid $noir;
    }
}

/* Search form
--------------------------------------------------------------- */

.rmagic-form {
    legend {
        padding: 20px 0px 0px 0px;
        color: #004666;
        font-size: 1.3rem;
        font-weight: 700;
        margin: 10px 0px 0px 0px!important;
    }

    .rm_form_field_type_paragraph {
        margin: 0!important;
    }
}

/* Accreditations Bar
--------------------------------------------------------------- */

.accreditations {
    padding: 30px 0px 30px 0px;

    .title {
        text-align: center; 
        font-size: 1.4em;
        color: $logodeepblue;
        font-weight: 700;
        margin-bottom: 1em;
    }

    ul {
        display: flex;
        flex-wrap: wrap;

        @include bp1000 {
            flex-wrap: nowrap;
        }
        

        li {
            width: 100%;
            display: flex;
            justify-content: center;

            @include bp1000 {
                width: 33%;
            }
        }
        
        img {
            max-height: 70px;
            margin-bottom: 20px;
            width: auto;
        }
    }
}

/* Employee Form
--------------------------------------------------------------- */
.form-content {
    display: none;
    padding: 20px 1.5em;
}

.form-title {
    background: $logomidblue;
    color: $blanc;
    cursor: pointer;
    margin-bottom: 20px;
    position: relative;

    span {
        color: lighten($logomidblue, 20%);
        font-size: 1.0rem;
        display: block;
    }

    i {
        color: $sandyyellow;
        position: absolute;
        top: 43%;
        right: 40px;
    }
}


/* Site Footer
--------------------------------------------------------------- */

footer[role="contentinfo"] {    
    clear: both;
    overflow: hidden;
    text-align: center;
    background: $greyblue;
    padding: 1.5em;
    color: $sandyyellow;

    #menu-locations {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        li {
            width: 100%;

            @include bp800 {
                width: 25%;
            }
        }
    }

    .grid {
        margin-bottom: 1em;
    }

    ul {
        list-style: none;
        padding-right: 0.5em;
    }

    .sub-menu {
        display: none;
    }

    li {
        display: block;
    }

    img {
        max-width: 100%;
    }

    p.title {
        font-weight: 700;
        font-size: 1.2em;
    }

    li {
        color: $blanc;
    }

    a {
        color: $blanc;
        text-decoration: none;
        position: relative;

        &:after {
            content: "\f105";
            position: absolute;
            top: 2px;
            right: -12px;
            margin-left: -8px;
            font: 1em/1 FontAwesome;
        }

        &:hover {
            color: lighten($logodeepblue,60%);
        }
    }

    @include bp800 {
        text-align: left;
    }

    a.adtrak {
        &:after {
            display: none;
        }
    }

    a.adtrak img {
        max-width: 70px;
        margin-top: 3em;
    }

    .container {
        clear: both;
    }
}

/* Callback Form
--------------------------------------------------------------- */

.callback-hidden {
    display: none;
}

.callback-form-show-hide {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    p {
        display: block;
        position: relative;

        &:after {
            content: "\f107";
            position: absolute;
            top: 6px;
            right: -25px;
            margin-left: -8px;
            font: 1em/1 FontAwesome;
        }
    }

    img:hover {
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-name: tada;
        animation-name: tada;
    }
}

.callback-form-container {
    padding: 2em 1.5em;
    background: #f9f6f2;
    color: $logodeepblue;

    .callback-img {
        width: 100%;
        text-align: center;
    }

    p.title {
        font-weight: 700;
        font-size: 1.8em;  
        display: block;
        text-align: center;
    }

    img {
        max-width: 70px;
    }

    .callback-form {
        margin: 0 auto;
        max-width: 1200px;

        nf-fields-wrap {
            padding: 25px 0px 0px 0px;
        }

        .nf-form-fields-required {
            text-align: center;
        }

        #nf-field-13 {
            float: right;
        }
    }

    .nf-response-msg {
        p {
            text-align: center;
        }
        
    }
}

/* Surveillance Page Template
--------------------------------------------------------------- */

body.page-template-page-remote-surveillance-page {
    p {
        max-width: 950px;
    }
}

.surveillance-process {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
 
    @include bp800 {
        flex-wrap: nowrap;
    }

    .stage {
        width: 100%;
        padding: 20px 20px 20px 30px;
        position: relative;

        .white-box {
            background: $blanc;
            color: $logodeepblue;
            border-radius: 10px;
            padding: 10px 15px;
        }

        ul {
            li {
                padding: 0px 0px 12px 0px;
            }
        }

        @include bp800 {
            width: 33.3%;
        }

        &:after {
            content: '';
            position: absolute;
            right: 45%;
            bottom: -55px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 50px 0 50px 40px;
            clear: both;
            z-index: 2000;
            transform: rotate(90deg);

            @include bp800 {
                right: -25px;
                top: 50px;
                bottom: auto; 
                transform: rotate(0deg);  
            }
        }

        &.stage-one {
            background: darken(#0085bd,10%);
            color: #fff;

            &:after {
                border-color: transparent transparent transparent darken(#0085bd,10%);
            }
        }

        &.stage-two {
            background: #0085bd;
            color: #fff;

            &:after {
                border-color: transparent transparent transparent #0085bd;
            }
        }

        &.stage-three {
            background: lighten(#0085bd,10%);
            color: #fff;

            &:after {
                display: none;
            }
        }

        p.title {
            font-size: 1.8em;
            line-height: 1.4em;

            span {
                font-weight: 700;
                display: block;
            }
        }

        p.bold {
            font-weight: 700;
        }

        img {
            max-width: 70px;
            margin-bottom: 10px;
        }
    }
}

// Accordion

.accordion-container {
    width: 100%;
    padding: 50px 0 70px 0;
    background: #fdf4dc;
}

.accordion-container .title {
    font-size: 1.8em;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-family: "proxima-nova", sans-serif;
    font-weight: 700;
    line-height: 1.1em;
    color: #004666;
    clear: both;
}

.accordion-container .sub-title {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}

.accordion {
    max-width: 800px; 
    margin: 0 auto;
}

.accordion p {
    padding: 0px 0px 10px 0px;
}

.accordion-content {
    display: none;
    padding: 15px 20px 30px 20px;
    margin: 0 auto;
    background: #fff;
    width: 100%;
}

.accordion-content ul {
    padding: 0px 25px;
}

.accordion-item {
    cursor: pointer; 
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 10px 25px;
    background: $logodeepblue;
    color: #fff;
    border-bottom: 1px solid #fdf4dc;
    text-decoration: none;

    &:hover {
        color: #ddd;
    }
}

p.active .accordion-item {
    font-weight: bold; /* Style for active accordion item */
}

/* Add a chevron icon to accordion items */
.accordion-item::after {
    content: '\25B8'; /* Unicode for a right-pointing chevron */
    display: inline-block;
    margin-left: 5px; /* Adjust as needed */
    transition: transform 0.3s ease; /* Add a smooth transition for animation */
    transform: rotate(90deg);
}

/* Rotate the chevron icon when accordion item parent is active */
.accordion-item.active::after {
    transform: rotate(-90deg);
}

.accordion-content {
    a {
        text-decoration: underline;
        color: $logomidblue;
    }
}


/* Back to top
--------------------------------------------------------------- */

#back-top {
    border-radius: 10px;
    position:fixed;
    cursor: pointer;
    right: 10px;
    bottom:10px;
    z-index: 300;
    opacity: 0.4;
    text-align: center;
    background: #fff;
    padding: 0.3em;

    &:hover {
        opacity: 1;
        transition: 0.3s all ease;
    }

    a {
        color: #333;
        text-shadow: 1px 1px 1px #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 0.8rem;
        letter-spacing: 2px;
        
        i {
            display: block;
            font-size: 3rem;
        }
    }
}

// Forms
@import "partials/_forms-ninja.scss";
@import "partials/_forms.scss";
// Cookies
@import "partials/_cookies.scss";
// Temporarily closed
@import "partials/_temporarily.closed.scss";
@import "partials/_news.scss";
@import "partials/_packages.scss";

html {
    scroll-behavior: smooth;
}
