.form-container {
    overflow: visible;
}

.form-h2 {
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: underline;
    color: $logodeepblue;
    margin: 0.5em 0 0 0 !important;
}

.nf-before-form-content {
    margin-bottom: 1em;
}

.nf-field-description {
    margin-bottom: 15px;
}

nf-fields-wrap {
    display: flex;
    flex-wrap: wrap;

    // Callback submit
    #nf-field-13 {
        background: $logodeepblue;
        color: $blanc;
    }

    //Contact cubmit
    #nf-field-4 {
        background: $blanc;
        color: $logodeepblue;
    }

    nf-field {
        width: 100%;

        @include bp800 {
            width: 100%;
            float: left;
        }
    }
}

// Response Message Notification

.nf-response-msg {
    p {
        &:first-of-type {
            font-size: 1.2em;
            font-weight: 700;
        }
    }
}